* text=auto

# Prettier requiere LF también en Windows.
/apps/web/** text=auto eol=lf

# Scripts Unix con LF.
**/mvnw text eol=lf
*.sh text eol=lf

# Scripts de Windows con CRLF.
*.cmd text eol=crlf
*.bat text eol=crlf
